<div>
  <div>
    <% # Note:  Not caching a thumbnail slows this page down %>
    <div class="parent"><div class="img-container"><%= image_tag qs.url, "max-height" => "50" %></div></div>
    <strong><%=qs.text%></strong>
  </div>
  <% if qs.answers %>
    <table class="table table_hover"
    <% qs.answers.each{ |an| %>
      <%= render('answers/ask_answer_row', an: an) %>
    <% } %>
    </table>
  <% end%>
</div>
