<% @editable ||= false #In case it's not set earlier %>
<% if @quiz.questions %>
  <% @quiz.questions.each{ |qs| %>
    <%= render('questions/question' , qs: qs, score: @score || nil ) %>
  <%}%>
<% end%>
<%= link_to "Add Question", new_question_path(quiz: @quiz),  class: "btn btn-lg btn-primary"  if not @score %>
<%= link_to "Back", user_path(@quiz.user),  class: "btn btn-lg btn-primary"  if @score %>
</div>
