<style>
.container-fluid {
   padding-top: 70px;
   padding-bottom: 70px;
}
</style>
<div  class="container-fluid text-center jumbotron">
  <div>Welcome to Visiquiz</div>
  <div><strong>See</strong> what I'm saying</div>
  <%= link_to "Sign In", new_user_session_url, :class => 'nav-link'  %>
  or
  <%= link_to "Sign Up", new_user_registration_url, :class => 'nav-link'  %>
</div>
