<tr>
  <!-- I must have spend two hours trying to get icons working for this row. I've bought a book to cover the gap. Joe -->
  <td><%=an.text%></td>
  <% if an.selected %>
    <% if correct %>
      <td>
        Right!
      </td>
    <% else %>
      <td>
        Wrong!
      </td>
    <% end %>
  <% end %>
</tr>
